.logo {
  position: fixed;
  top: 32px;
  left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: neue-haas-grotesk-text, sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 1000;
}

@media screen and (min-width: 640px) {
  .logo {
    top: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: 13px;
  }
}

.logo .divide {
  position: relative;
  width: 1px;
  height: 14px;
  margin: 0 8px;
  background-color: #777;
}

@media screen and (min-width: 640px) {
  .logo .divide {
    margin: 0 10px;
  }
}

.logo span {
  font-weight: 300;
  color: #777;
}

.logo span:before {
  content: "archvizual";
}

.link-hover {
  position: relative;
}

.link-hover:hover::after {
  width: 100%;
  right: unset;
  left: 0;
}

.link-hover::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #ccc;
  -webkit-transition: 0.25s cubic-bezier(0.51, 0.92, 0.24, 1);
  transition: 0.25s cubic-bezier(0.51, 0.92, 0.24, 1);
}

.contact-btn {
  display: none;
  position: fixed;
  top: 40px;
  left: 40px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  z-index: 1000;
}

.contact-btn:hover svg path {
  stroke: #cccf;
}

.contact-btn svg {
  width: 9px;
  height: 9px;
  margin-left: 4px;
}

.contact-btn svg path {
  stroke-width: 3px;
  stroke: #777;
}

@media screen and (min-width: 640px) {
  .contact-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
  }
}

.archive-btn-contain {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 32px;
  right: 16px;
  width: 16px;
  height: 16px;
  z-index: 1000;
}

@media screen and (min-width: 640px) {
  .archive-btn-contain {
    top: 40px;
    right: 40px;
  }
}

.archive-btn {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 13px;
  height: 13px;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.archive-btn::before {
  content: "Index";
  position: absolute;
  top: 0;
  -webkit-transform: translateX(calc(-100% - 6px));
          transform: translateX(calc(-100% - 6px));
  visibility: hidden;
  opacity: 0;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

@media screen and (min-width: 640px) {
  .archive-btn::before {
    display: block;
    font-size: 14px;
  }
}

.archive-btn.active::before {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(calc(-100% - 12px));
          transform: translateX(calc(-100% - 12px));
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.archive-btn.active .btn-item {
  background-color: #ccc;
}

@media (hover: hover) {
  .archive-btn:hover::before {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(calc(-100% - 12px));
            transform: translateX(calc(-100% - 12px));
  }
  .archive-btn:hover .btn-item {
    background-color: #ccc;
  }
}

.archive-btn .btn-item {
  width: 3px;
  height: 3px;
  background-color: #777;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.archive {
  position: fixed;
  width: 100%;
  bottom: calc(-100% + 144px);
  height: calc(100% - 72px);
  padding: 0 16px;
  background-color: #111;
  -webkit-transition: all 0.5s cubic-bezier(0.51, 0.92, 0.24, 1);
  transition: all 0.5s cubic-bezier(0.51, 0.92, 0.24, 1);
  z-index: 1000;
}

@media screen and (min-width: 640px) {
  .archive {
    bottom: unset;
    padding: 0 40px;
    -webkit-transform: translateY(calc(100vh - 88px));
            transform: translateY(calc(100vh - 88px));
  }
}

.archive.active {
  bottom: 0;
  background-color: #4b4b4b;
}

@media screen and (min-width: 640px) {
  .archive.active {
    bottom: unset;
    -webkit-transform: translateY(88px);
            transform: translateY(88px);
  }
}

.archive .archive-contain {
  width: 100%;
}

.archive .archive-contain .archive-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 72px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  border-top: 1px solid #777;
}

@media screen and (min-width: 640px) {
  .archive .archive-contain .archive-header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 88px;
    font-size: 14px;
  }
}

.archive .archive-contain .archive-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.archive .archive-contain .archive-header ul li {
  margin-right: 20px;
  color: #777;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

@media screen and (min-width: 640px) {
  .archive .archive-contain .archive-header ul li {
    margin-right: 24px;
  }
}

.archive .archive-contain .archive-header ul li:hover {
  color: #ccc;
}

.archive .archive-contain .archive-header ul li:nth-child(1) {
  color: #ccc;
}

.archive .archive-contain .archive-header ul li:nth-last-child(1) {
  margin-right: 0;
}

.archive .archive-contain .archive-header .socials {
  display: none;
}

@media screen and (min-width: 640px) {
  .archive .archive-contain .archive-header .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=Layout.css.map */