$smaller: 480px;
$small: 640px;
$medium: 1040px;
$large: 1265px;
$extra-large: 1600px;

.logo {
  position: absolute;
  top: 32px;
  left: 16px;
  display: flex;
  font-family: neue-haas-grotesk-text, sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 1000;

  @media screen and (min-width: $small) {
    top: 40px;
    left: 40px;
    font-size: 13px;
  }

  .divide {
    position: relative;
    width: 1px;
    height: 16px;
    margin: 0 8px;
    background-color: #777;
  }

  span {
    font-weight: 300;
    color: #777;

    &:before {
      content: "archvizual";
    }
  }
}

.link-hover {
  position: relative;
  &:hover {
    &::after {
      width: 100%;
      right: unset;
      left: 0;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #ccc;
  }
}

.contact-btn {
  display: none;
  position: absolute;
  top: 40px;
  left: 40px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  z-index: 1000;

  &:hover {
    svg {
      path {
        stroke: #cccf;
      }
    }
  }

  svg {
    width: 9px;
    height: 9px;
    margin-left: 4px;

    path {
      stroke-width: 3px;
      stroke: #777;
    }
  }

  @media screen and (min-width: $small) {
    align-items: center;
    font-size: 14px;
  }
}

.archive-btn-contain {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 32px;
  right: 16px;
  width: 16px;
  height: 16px;
  z-index: 1000;

  @media screen and (min-width: $small) {
    top: 40px;
    right: 40px;
  }
}

.archive-btn {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: space-between;
  align-content: space-between;
  width: 13px;
  height: 13px;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &::before {
    content: "Index";
    position: absolute;
    top: 0;
    transform: translateX(calc(-100% - 6px));
    visibility: hidden;
    opacity: 0;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.2s ease-out;

    @media screen and (min-width: $small) {
      display: block;
      visibility: visible;
      opacity: 1;
      transform: translateX(calc(-100% - 12px));
      font-size: 14px;
    }
  }

  &.active {
    &::before {
      visibility: visible;
      opacity: 1;
      transform: translateX(calc(-100% - 12px));
      transition-delay: 0.25s;
    }
    .btn-item {
      background-color: #ccc;
    }
  }

  @media (hover: hover) {
    &:hover {
      &::before {
        visibility: visible;
        opacity: 1;
        transform: translateX(calc(-100% - 12px));
      }
      .btn-item {
        background-color: #ccc;
      }
    }
  }

  .btn-item {
    width: 3px;
    height: 3px;
    background-color: #777;
    transition: 0.2s ease;
  }
}

.archive {
  position: fixed;
  width: 100%;
  bottom: calc(-100% + 144px);
  height: calc(100% - 72px);
  padding: 0 16px;
  background-color: #111;
  transition: all 0.5s cubic-bezier(0.51, 0.92, 0.24, 1);
  z-index: 1000;

  @media screen and (min-width: $small) {
    bottom: unset;
    padding: 0 40px;
    transform: translateY(calc(100vh - 88px));
  }

  &.active {
    bottom: 0;
    background-color: rgb(75, 75, 75);
    overflow: auto;

    @media screen and (min-width: $small) {
      bottom: unset;
      transform: translateY(88px);
    }
  }

  @media screen and (max-width: $small) {
    &.inactive {
      bottom: calc(-100% + 72px);
    }
  }

  .archive-contain {
    width: 100%;

    .archive-header {
      display: flex;
      align-items: center;
      width: 100%;
      height: 72px;
      font-size: 13px;
      font-weight: 500;
      letter-spacing: 1px;
      border-top: 1px solid #777;
      transition: 0.25s cubic-bezier(0.51, 0.92, 0.24, 1);

      @media screen and (min-width: $small) {
        justify-content: space-between;
        height: 88px;
        font-size: 14px;
      }

      ul {
        display: flex;

        li {
          margin-right: 20px;
          color: #777;
          cursor: pointer;

          @media screen and (min-width: $small) {
            margin-right: 24px;
          }

          &:hover {
            color: #ccc;
          }

          &.active {
            color: #ccc;
          }

          &:nth-last-child(1) {
            margin-right: 0;
          }
        }
      }

      .socials {
        display: none;

        @media screen and (min-width: $small) {
          display: flex;
        }
      }
    }
  }
}

.scrollbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 2px;
  height: 100vh;
  z-index: 10000;

  @media screen and (max-width: $small) {
    display: none;
  }

  .scrollbar-inner {
    width: 100%;
    background-color: #ccc;
  }
}
