@import url("https://use.typekit.net/rrc7gjs.css");
@import "./Layout/Layout.scss";
@import "./Projects/Projects.scss";
@import "./ProjectIndex/ProjectIndex.scss";
@import "./Flickity/Flickity.scss";

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  scrollbar-width: none;
  overscroll-behavior: none;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  overflow-y: hidden;
}

body {
  background-color: #111111;
  color: #ccc;
  font-family: neue-haas-grotesk-display, sans-serif;
  transition: 0.25s ease-out;
}

.archive-open {
  background-color: rgb(75, 75, 75);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ccc;
}
