@import url("https://use.typekit.net/rrc7gjs.css");
.logo {
  position: fixed;
  top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  white-space: nowrap;
}

.logo .divide {
  position: relative;
  width: 1px;
  height: 16px;
  margin: 0 10px;
  background-color: #777;
}

.logo span {
  font-weight: 400;
  color: #777;
}

.link-hover {
  position: relative;
}

.link-hover:hover::after {
  width: 100%;
  right: unset;
  left: 0;
}

.link-hover::after {
  content: "";
  position: absolute;
  bottom: -4px;
  right: 0;
  width: 0;
  height: 1px;
  background-color: #ccc;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.contact-btn {
  position: fixed;
  top: 40px;
  left: 40px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
}

.archive-btn {
  position: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  top: 40px;
  right: 40px;
  width: 13px;
  height: 13px;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.archive-btn::before {
  content: "Archive";
  position: absolute;
  top: 0;
  -webkit-transform: translateX(calc(-100% - 6px)) translateY(-2px);
          transform: translateX(calc(-100% - 6px)) translateY(-2px);
  visibility: hidden;
  opacity: 0;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.archive-btn.active::before {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(calc(-100% - 12px)) translateY(-2px);
          transform: translateX(calc(-100% - 12px)) translateY(-2px);
}

.archive-btn.active .btn-item {
  background-color: #ccc;
}

.archive-btn:hover::before {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(calc(-100% - 12px)) translateY(-2px);
          transform: translateX(calc(-100% - 12px)) translateY(-2px);
}

.archive-btn:hover .btn-item {
  background-color: #ccc;
}

.archive-btn .btn-item {
  width: 3px;
  height: 3px;
  background-color: #777;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.archive {
  position: fixed;
  width: 100%;
  height: calc(100vh - 88px);
  padding: 0 40px;
  -webkit-transform: translateY(calc(100vh - 88px));
          transform: translateY(calc(100vh - 88px));
  background-color: #111;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

.archive.active {
  -webkit-transform: translateY(88px);
          transform: translateY(88px);
}

.archive .archive-contain {
  width: 100%;
}

.archive .archive-contain .archive-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 88px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  border-top: 1px solid #777;
}

.archive .archive-contain .archive-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.archive .archive-contain .archive-header ul li {
  margin-right: 32px;
  color: #777;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.archive .archive-contain .archive-header ul li:hover {
  color: #ccc;
}

.archive .archive-contain .archive-header ul li:nth-child(2) {
  color: #ccc;
}

.archive .archive-contain .archive-header ul li:nth-last-child(1) {
  margin-right: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #111111;
  color: #ccc;
  font-family: neue-haas-grotesk-display, sans-serif;
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ccc;
}
/*# sourceMappingURL=Index.css.map */