$smaller: 480px;
$small: 640px;
$large: 1265px;
$extra-large: 1600px;

.project-page-contain {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  top: 160px;
  width: 100%;
  height: 100%;
  padding: 0 16px;

  @media screen and (min-width: $medium) {
    top: 140px;
    flex-direction: row;
    padding: 40px;
  }

  .project-page-img-contain {
    width: 100%;
    height: 100%;
    margin-right: 80px;

    @media screen and (min-width: $medium) {
      width: 640px;
    }

    .project-page-img {
      width: 100%;
      margin-bottom: 40px;
      overflow: hidden;

      &:nth-last-child(1) {
          margin-bottom: 80px;
      }

      img {
        width: 100%;
      }
    }
  }

  .project-page-info-contain {
    width: 100%;
    margin-bottom: 64px;

    @media screen and (min-width: $medium) {
      width: calc(100% - 640px);
      height: auto;
      margin-bottom: unset;
    }

    .project-page-info {
      position: sticky;
      top: 160px;
      width: 100%;
      height: 240px;

      @media screen and (min-width: $medium) {
        height: 400px;
      }

      span {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;

        @media screen and (min-width: $medium) {
          font-size: 14px;
        }
      }

      .project-info-section {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      .project-page-header {
        align-items: flex-end;
      }

      .project-page-type {
        margin-top: 40px;
        color: #777;
      }

      .project-page-bottom {
        position: absolute;
        bottom: 0;

        span {
          &:nth-child(1) {
            svg {
              margin-right: 4px;
            }
          }
          &:nth-last-child(1) {
            font-weight: 400;
            letter-spacing: 1px;
          }
        }
      }
    }
  }
}
