$smaller: 480px;
$small: 640px;
$medium: 1040px;
$large: 1265px;
$extra-large: 1600px;

.project-contain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .project-carousel {
    position: relative;
    width: 100%;
    max-height: 460px;
    margin-top: calc(9vh + 57px);
    overflow: hidden;
    animation: intro-anim 0.5s ease-out;

    @keyframes intro-anim {
      from {
        opacity: 0;
        transform: translateX(24px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }

    @media screen and (min-width: $small) {
      margin-top: 25vh;
    }
  }

  .project {
    position: relative;
    width: 280px;
    height: 460px;
    margin-right: 60px;
    background-color: #242424;

    @media screen and (min-width: $small) {
      width: 560px;
      height: 420px;
      margin-right: 104px;
    }

    .project-tag {
      position: absolute;
      right: -26px;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      transform-origin: center;
      font-size: 12px;
      letter-spacing: 1px;
      color: #ccc;

      @media screen and (min-width: $small) {
        right: -29px;
        font-size: 14px;
      }
    }

    .project-img {
      width: 100%;
      height: calc(100% - 40px);

      @media screen and (min-width: $small) {
        height: calc(100% - 40px);
      }

      .img-contain {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;

        @media (hover: hover) {
          &:hover {
            img {
              transform: scale(1.05);
            }
          }
        }

        img {
          position: absolute;
          height: 100%;
          left: -50%;
          transition: 0.25s ease-in-out;

          @media screen and (min-width: $small) {
            left: unset;
            height: 100%;
          }
        }
      }
    }

    .project-info {
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      bottom: 0;
      width: 100%;
      height: 40px;
      padding-top: 20px;
      letter-spacing: 1.5px;
      background-color: #111;

      @media screen and (min-width: $small) {
        height: 40px;
      }

      .project-name {
        font-size: 14px;
        animation: title-anim 0.75s 0.375s cubic-bezier(0.51, 0.92, 0.24, 1)
          forwards;
        transform: translateY(100%);

        @keyframes title-anim {
          from {
            transform: translateY(100%);
          }
          to {
            transform: translateY(0);
          }
        }

        @media screen and (min-width: $small) {
          font-size: 16px;
        }
      }

      .project-type {
        font-size: 14px;
        color: #ccc;
        animation: title-anim 0.75s 0.375s cubic-bezier(0.51, 0.92, 0.24, 1)
          forwards;
        transform: translateY(100%);

        @media screen and (min-width: $small) {
          font-size: 14px;
        }
      }
    }
  }
}
