$smaller: 480px;
$small: 640px;
$medium: 1040px;
$large: 1265px;
$extra-large: 1600px;

.project-contain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .project-carousel {
    position: relative;
    width: 100%;
    max-height: 460px;
    margin-top: calc(10vh + 45px);
    overflow: hidden;

    @media screen and (min-width: $small) {
      margin-top: 22.5vh;
    }
  }

  .project {
    position: relative;
    width: 272px;
    height: 460px;
    margin-right: 60px;
    background-color: #242424;

    @media screen and (min-width: $small) {
      width: 560px;
      height: 444px;
      margin-right: 104px;
    }

    .project-tag {
      position: absolute;
      right: -26px;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      transform-origin: center;
      font-size: 12px;
      letter-spacing: 1px;
      color: #777;

      @media screen and (min-width: $small) {
        right: -29px;
        font-size: 14px;
      }
    }

    .project-info {
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      bottom: 0;
      width: 100%;
      height: 44px;
      padding-top: 20px;
      letter-spacing: 1.5px;
      background-color: #111;

      .project-name {
        font-size: 16px;

        @media screen and (min-width: $small) {
          font-size: 18px;
        }
      }

      .project-type {
        font-size: 14px;
        color: #777;

        @media screen and (min-width: $small) {
          font-size: 14px;
        }
      }
    }
  }
}
