.project-contain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project-contain .project-carousel {
  position: relative;
  width: 100%;
  max-height: 460px;
  margin-top: calc(9vh + 57px);
  overflow: hidden;
}

@media screen and (min-width: 640px) {
  .project-contain .project-carousel {
    margin-top: 25vh;
  }
}

.project-contain .project-carousel .carousel {
  -webkit-animation: intro-anim 0.875s cubic-bezier(0.51, 0.92, 0.24, 1);
          animation: intro-anim 0.875s cubic-bezier(0.51, 0.92, 0.24, 1);
}

@-webkit-keyframes intro-anim {
  from {
    opacity: 0;
    -webkit-transform: translateX(32px);
            transform: translateX(32px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes intro-anim {
  from {
    opacity: 0;
    -webkit-transform: translateX(32px);
            transform: translateX(32px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.project-contain .project {
  position: relative;
  width: 280px;
  height: 460px;
  margin-right: 60px;
}

.project-contain .project.is-selected img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.project-contain .project img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

@media screen and (min-width: 640px) {
  .project-contain .project {
    width: 560px;
    height: 420px;
    margin-right: 104px;
  }
}

.project-contain .project .project-tag {
  position: absolute;
  right: -26px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  font-size: 12px;
  letter-spacing: 1px;
  color: #ccc;
}

@media screen and (min-width: 640px) {
  .project-contain .project .project-tag {
    right: -29px;
    font-size: 14px;
  }
}

.project-contain .project .project-img {
  width: 100%;
  height: calc(100% - 40px);
}

@media screen and (min-width: 640px) {
  .project-contain .project .project-img {
    height: calc(100% - 40px);
  }
}

.project-contain .project .project-img .img-contain {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.project-contain .project .project-img .img-contain img {
  position: absolute;
  height: 100%;
  left: -50%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

@media screen and (min-width: 640px) {
  .project-contain .project .project-img .img-contain img {
    left: unset;
    height: 100%;
  }
}

.project-contain .project .project-info {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding-top: 20px;
  letter-spacing: 1.5px;
  background-color: #111;
}

@media screen and (min-width: 640px) {
  .project-contain .project .project-info {
    height: 40px;
  }
}

.project-contain .project .project-info .project-name {
  font-size: 14px;
  -webkit-animation: title-anim 0.75s 0.5s cubic-bezier(0.51, 0.92, 0.24, 1) forwards;
          animation: title-anim 0.75s 0.5s cubic-bezier(0.51, 0.92, 0.24, 1) forwards;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

@-webkit-keyframes title-anim {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes title-anim {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media screen and (min-width: 640px) {
  .project-contain .project .project-info .project-name {
    font-size: 16px;
  }
}

.project-contain .project .project-info .project-type {
  font-size: 14px;
  text-transform: capitalize;
  color: #777;
  -webkit-animation: title-anim 0.75s 0.5s cubic-bezier(0.51, 0.92, 0.24, 1) forwards;
          animation: title-anim 0.75s 0.5s cubic-bezier(0.51, 0.92, 0.24, 1) forwards;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

@media screen and (min-width: 640px) {
  .project-contain .project .project-info .project-type {
    font-size: 14px;
  }
}
/*# sourceMappingURL=Projects.css.map */